In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df = pd.read_csv('ATLAST.csv')
df.head()

,id,meter_id,timestamp,current,voltage,frequency,power_factor,energy,real_power,apparent_power
0,154455,NaN,2021-09-17T13:44:11.565462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,154454,NaN,2021-09-17T13:29:23.225921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,154453,LAG001,2021-09-17T10:23:52.002952,0.44,240.0,50.0,1.0,130.0,NaN,NaN
3,154452,LAG001,2021-09-17T10:23:40.926723,0.44,240.0,50.0,1.0,130.0,NaN,NaN
4,154451,LAG001,2021-09-17T10:23:30.110948,0.44,240.0,50.0,1.0,130.0,NaN,NaN

In [4]:
#calculate apparent power

df['apparent_power'] = df['current']*df['voltage']

#calculate real power

df['real_power'] = df['power_factor']/ df['apparent_power']

In [5]:
#drop nan from the categorical meter_id column and reset index

df.dropna(subset = ["meter_id"], inplace=True)
df.reset_index(drop=True, inplace=True)

#replace inf in real_power with 0
df.replace(to_replace= np.nan, value =0, inplace=True )

In [23]:
#extract osu001 with all attributes

OSU= df[(df['meter_id'] == 'OSU001')]
OSU.to_csv('Complete_OSU001.csv', index= False)

In [22]:
#extract osu001 with only timestamp and energy attribute

new_osu= OSU[['timestamp', 'energy']].copy()
new_osu = pd.DataFrame([OSU.timestamp, OSU.energy]).transpose()
new_osu.to_csv('OSU001.csv', index =False)